@import '~@clair/theme-default/styles/variables';

// override default SASS variables here, eg:
$--primary-color: #006bff;
$--base-border-radius: 0;
$--date-picker-range-width: 280px;

// project variables
$--header-height: 50px;
$--layout-card-spacing: 20px;
